.card {
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.10);
  transition: 0.3s;
  background-color: #f1f2f9;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 5px 8px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 0px 5px 8px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 0px 5px 8px rgba(0, 0, 0, 0.10);
}

.card-header {
  padding: 2px 10px;
}

.card-sep {
  margin: 0;
  padding: 0;
}

.card-separator {
  border-top: 2px dotted #bbb;
}

.card-textLine {
  padding: 1px 0px;
}
