.login-form{
  display: grid;
  grid-template-rows: repeat(6,1fr);
}

.login-fieldGroup{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 10px;
  padding-top: 25px;
}
.login-fieldGroup-label{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: right;
}
.login-fieldGroup-input{
  height: 30px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  outline: none
}
.login-fieldGroup-input:focus{
  border-color: var(--primary-color) !important;
}
