@font-face { 
  font-family: SourceSansPro; 
  src:url(../../content/font/SourceSansPro/SourceSansPro-Regular.ttf); 
} 
@font-face { 
  font-family: SourceSansPro; 
  src:url(../../content/font/SourceSansPro/SourceSansPro-Bold.ttf); 
  font-weight: bold; 
} 
@font-face { 
  font-family: SourceSansPro; 
  src:url(../../content/font/SourceSansPro/SourceSansPro-Italic.ttf); 
  font-style: italic; 
} 
 
 
html{ 
  font-family: SourceSansPro; 
} 
.container{ 
  margin-left: 25%; 
  margin-right: 25%; 
 
} 
