a{
  text-decoration: none;
  color: inherit;
  display: block;

}
.container-nav{
  margin-left: 25%;
  margin-right: 25%;
}
.navbar{
  background: white;

  border-left:1px solid var(--primary-color);
  border-top:1px solid var(--primary-color);
  border-bottom:1px solid var(--primary-color);
  border-radius: 2px
}
.navbar-list{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  padding: 0px;
}
.navbar-item{
  text-align: center;
  padding-top: 10px;
  padding-bottom:10px;
  background-color: var(--primary-light-color);
  color: var(--primary-textover-color);
  font-size: 18px;
}
.navbar-item.active{
  border-bottom:3px solid var(--primary-dark-color);
  font-weight: bold;
}

.navbar-item.home{
  grid-column: 1/2;
}
.navbar-item.concours{
  grid-column: 2/3;
}
.navbar-item.classement{
  grid-column: 3/4;
}
.navbar-item.logout{
  grid-column: 4/5;
}
.navbar-item.login{
  grid-column: 5/6;
}

@media only screen and (max-width: 950px) {
  .container-nav{
    display: none;
  }
}
