.register-form{
  display: grid;
  grid-template-rows: repeat(6,1fr);
}

.register-fieldGroup{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 10px;
  padding-top: 25px;
  text-align: center;
}
.submitButton{
  grid-column-start: 2;
  background-color: var(--primary-color);
  border-color: var(--primary-dark-color);
  border-top: none;
  border-left:none;
  border-radius: 3px;
  color: var(--primary-textover-color);
  width: 50%;
  justify-self:center;
}
.register-fieldGroup-label{
  text-align: right;
}
.register-fieldGroup-input{
  height: 30px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  outline: none
}
.register-fieldGroup-input:focus{
  border-color: var(--primary-color) !important;
}
.register-hasaccount{
  text-align: center;
}
.register-hasaccount-link{
  color: var(--primary-color);
  font-weight: bold;
}
